[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/SmartyModule"]
	path = vendor/SmartyModule
	url = git@github.com:MurgaNikolay/SmartyModule.git
